@import '../../esileht/voo_komponent/teema/teema.css';
@import '../../esileht/voo_komponent/video/video.css';
@import '../../esileht/voo_komponent/video-pilt/video-pilt.css';
@import '../../esileht/voo_komponent/nooled/nooled.css';

body {
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: #203443;
  color: #222;
  margin: 0;
  padding: 0;
}

.api-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
}
